.search {
  display: flex;
  background-color: rgba(69, 81, 119, 0.5);
  padding: 0.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(25px);
  box-shadow: 2px 2px 2px 2px rgb(0, 22, 95);
}
.input {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.search_icon {
  width: 20px;
}
